<div *ngIf="moovie" class="col container mx-auto px-20">
    <div class="mb-2">
        <button mat-raised-button color="primary" aria-label="back to menu" (click)="stepBack()">
            retour<mat-icon>arrow_back</mat-icon>
          </button>
    </div>
    <div class="flex row">
        <div class=""><img [src]="poster_path" alt=""></div>
        <div class="flex-col p-5"><h1>{{moovie.title}}</h1>
        <div class="flex row">
            <div class="flex-col p-5">
                <h2>Popularité</h2>
                <div class="text-white"><p>{{moovie.vote_average}}</p></div>
            </div>
            <div class="flex-col p-5">
            <h2>Sortie le</h2>
            <div class="text-white"><p>{{moovie.release_date | date:'mediumDate'}}</p></div>
        </div>
    </div>
    <div class="flex flex-row ml-5">
        <button mat-raised-button color="primary" aria-label="edit comment" (click)="toggleEdition()">
            <mat-icon>edit</mat-icon>Poster une critique
        </button>
    </div>      
</div>
    </div>
    <div class="text-white mt-10"><h2>Description</h2>
        <p>{{moovie.overview}}</p>
    </div>
    <div class="" *ngIf="isEditing">
        <h2 class="text-white">Edit Commentaire</h2>
        <form [formGroup]="commentForm" class="flex flex-col justify-between w-full">
            <mat-form-field>
                <mat-label>Titre</mat-label>
                <input type="text" name="title" formControlName="title" matInput />
            </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." formControlName="comment_body"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" (click)="editComment()">edit com</button>
    </form>
</div>
<div style="color: aliceblue; font-size: larger; margin: 5% 0;"><p>Critiques récentes: Avis d'internautes</p>
    <app-comment [comments]="comments"></app-comment>
</div>
</div>
