#imgBg {
    height: auto;
    color: aliceblue;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    align-items: stretch;
    justify-content: space-between;
}