<ng-container>
    <form [formGroup]="userForm" id="imgBg" class="form-container" (ngSubmit)="onSubmit()">
        <h2>S'enregistrer</h2>
        <mat-form-field>
        <mat-label>Username</mat-label>
        <input type="text" name="username" formControlName="username" matInput />
        </mat-form-field>
        <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" name="identifier" formControlName="identifier" matInput />
        </mat-form-field>
        <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="text" name="password" formControlName="password" matInput />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" (click)="registrate()">Valider</button>
        <p>ou</p>
        <a [routerLink]="['/connexion']">se connecter</a>
    </form>
</ng-container>
