/* You can add global styles to this file, and also import other style files */

/* html {
    height: auto;
    background-color: rgb(250, 235, 217);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/


html, body { height: 100%; background-color: black; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    color: white
}

h2 {
    color: white
}

.mat-typography h1 {
    font: 400 24px/32px Roboto, sans-serif;
    letter-spacing: normal;
    margin: 0;
}